.component-credit-line {
  background-color: $teal;
  padding-bottom: 1rem;
  color: $c-teal--dark;
  text-align: center;
  font-size: 90%;
}

.credit-line {
  &.badge {
    background-color: $c-teal--tint;
    color: $white;
  }

  &.focus-visible {
    @include double-box($c-teal--dark, $c-teal--dark);
    background-color: $c-teal--dark;
    color: $white;
  }
}
