.footer-area {
  &__container {
    background-color: $black;
    font-size: $font-size-lg;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    color: $white;

    * {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  &__anchor {
    &.focus-visible {
      @include ph-box-shadow($black, $white);
    }
  }
}
