.trello-feed {
  &.container {
    @include window-container;
    left: 2rem;
    top: 8rem;

    @include media-breakpoint-up(sm) {
      left: 10rem;
      top: 7rem;
    }
  }

  &.header {
    @include trello-section;
    fill: $c-trello-text;
  }

  &.header-title {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }

  &.card {
    box-shadow: 0 0.125rem #b3b8c5;
    border-radius: $border-radius;
    background-color: $white;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.625rem;
    text-decoration: none;
    display: block;
    border: none;

    .badge {
      margin-left: 0.5rem;
      padding: 0;

      a {
        border-radius: $border-radius-lg;
        text-decoration: none;
        padding: 0.5rem;
        display: block;

        &:hover {
          background-color: $gray-700;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.placeholder {
      padding: 0.375rem 0.75rem;

      div {
        @include placeholder($gray-400);
        line-height: 1.25;
      }

      &:nth-of-type(odd) div {
        max-width: 85%;
      }
      &:nth-of-type(even) div {
        max-width: 60%;
      }
    }

    &.focus-visible {
      @include single-box($c-trello-text);
    }
  }

  &.footer {
    @include trello-section;
    color: $c-trello-text--faded;
    fill: $c-trello-text--faded;
  }

  &.add-another {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }
}

.trello-wrap.card {
  background-color: $c-trello-bg;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  color: $c-trello-text;
  border: none;
  width: 16rem;
}
