.title.trello-card-resume {
  padding-right: $trello-card-margin;

  &.placeholder {
    @include placeholder;
  }
}

.link.trello-card-resume {
  padding-right: $trello-card-margin;
}

.desc.trello-card-resume {
  margin-top: $label-margin-bottom;
  line-height: $line-height-sm;
  font-size: $font-size-sm;
  color: $gray-700;

  p {
    display: inline;
    margin: 0;
  }

  img {
    display: none;
  }

  &.placeholder {
    @include placeholder($max: 80%);
  }
}

.wrap.trello-card-resume-title {
  margin-top: $label-margin-bottom;
  line-height: $line-height-sm;
}

.due.trello-card-resume {
  @include style-date;
  display: block;
}