.title.trello-card-resume {
  padding-right: $margin-trello;

  &.placeholder {
    @include placeholder;
  }
}

.link.trello-card-resume {
  padding-right: $margin-trello;
}

.desc.trello-card-resume {
  line-height: $line-height-sm;
  margin-top: $margin-badge;
  font-size: $font-size-sm;
  color: $gray-700;

  p {
    display: inline;
    margin: 0;
  }

  img {
    display: none;
  }

  &.placeholder {
    @include placeholder;
    max-width: $max-width-content;
  }
}

.wrap.trello-card-resume-title {
  line-height: $line-height-sm;
  margin-top: $margin-badge;
}

.due.trello-card-resume {
  @include style-date;
  display: block;
}