@mixin base-font($weight: false) {
  font-family: $font-family-base;
  letter-spacing: -0.02em;

  @if $weight {
    font-weight: $weight;
  }
}

@mixin display-font($weight: false) {
  font-family: $headings-font-family;
  letter-spacing: 0.02em;

  @if $weight {
    font-weight: $weight;
  }
}

@mixin auto-margin {
  margin-right: auto;
  margin-left: auto;
}

@mixin zeros {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin ph-single-box($bg: $white, $size: $margin-sm) {
  @include single-box($bg, $size);
}

@mixin ph-double-box($bg: $white, $col: $black, $bg_size: 0.375rem, $col_size: 0.625rem) {
  @include double-box($bg, $col, $bg_size, $col_size);
}

@mixin inline-block($align: middle) {
  vertical-align: $align;
  display: inline-block;
}

@mixin center($pcent: 100%) {
  text-align: center;
  &:before {
    @include inline-block;
    margin-right: -0.25em;
    height: $pcent;
    content: "";
  }
}

@mixin container-default {
  height: $min-height-mobile;
  @include media-breakpoint-up(sm) {
    height: 32.5rem;
  }
}

@mixin trello-section {
  grid-template-columns: auto 1.5rem;
  align-items: center;
  padding: 0.625rem;
  display: grid;
}

@mixin reset-button-core($col: $black) {
  background-color: $col;
  border-color: $col;
}

@mixin reset-button($col: $black) {
  @include reset-button-core($col);

  &:active {
    background-color: $col !important;
  }

  &:hover,
  &:focus {
    background-color: $col;
  }
}

@mixin hero-colors($a: #4261ff, $b: #ff4262, $c: #ff66b3) {
  background: linear-gradient(0deg, $a 0%, $b 100%);

  path {
    stroke: $c;
  }

  a.focus-visible {
    background-color: $c;
  }
}

@mixin input-color($col: inherit) {
  color: $col;
  &::placeholder {
    color: $col;
  }
}

@mixin repeat-margin($pos: "bottom", $val: 0.625rem) {
  @if $pos == "left" {
    margin-left: $val;
    &:last-of-type {
      margin-left: 0;
    }
  } @else if $pos == "right" {
    margin-right: $val;
    &:last-of-type {
      margin-right: 0;
    }
  } @else if $pos == "bottom" {
    margin-bottom: $val;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@mixin style-date {
  font-size: $font-size-sm;
  margin-top: $margin-sm;
  color: $gray-700;
  display: block;
}

@mixin window-container {
  @include container-reset;
  width: auto;
}

@mixin animate-colors {
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  animation-name: colorCycle;
  animation-duration: 1s;
}

@mixin container-reset {
  max-width: none;
  padding: 0;
}

@mixin row-reset {
  > * {
    padding: 0;
    margin: 0;
  }
}

@mixin button-site-nav {
  @extend .btn;

  @include media-breakpoint-up(sm) {
    font-size: $h4-font-size;
  }
}

@mixin code-badge {
  padding: 0;
  
  a {
    border-radius: $border-radius-lg;
    background-color: $black;
    padding: 0.375rem $margin-md;
    text-decoration: none;
    display: block;
    color: $lime;

    &:hover {
      @include animate-colors;
    }
  }
}

@mixin split-badge($col: $black, $bg: $gray-200) {
  grid-auto-flow: column;
  border: 1px solid $col;
  background-color: $bg;
  display: inline-grid;
  color: $col;
  padding: 0;

  span {
    padding: $margin-md;

    &:first-child {
      background-color: $col;
      color: $bg;
    }
  }
}

@mixin input-reset {
  font-weight: 600;
  color: inherit;
  border: none;
  padding: 0;

  &::placeholder {
    color: inherit;
  }
}

@mixin topbar-btn {
  @include inline-block;
  background-color: $gray-600;
  height: $font-size-lg;
  width: $font-size-lg;
  border-radius: 50%;
  padding: 0;
}

@mixin position-feed($a:0,$b:0,$c:0,$d:0) {
  position: absolute;
  z-index: 2;
  left: $a;
  top: $b;

  @include media-breakpoint-up(sm) {
    left: $c;
    top: $d;
  }
}