
.container.folder-button {
  @include inline-block;
  max-width: none;
  padding: 0;
}

.btn.folder-button {

  svg {
    display: block;
  }

  &.focus-visible {
    box-shadow: none;

    .badge {
      background-color: $c-teal--dark;
    }
  }
}

.badge.folder-button {
  background-color: $c-teal--tint;
  border-color: $c-teal--tint;
  margin-top: 0.25rem;
}