.folder-button {
  &.btn.focus-visible {
    box-shadow: none;

    .badge {
      background-color: $c-teal--dark;
    }
  }

  .badge {
    background-color: $c-teal--tint;

    &-wrap {
      margin-top: 0.25rem;
    }
  }
}
