
.component.folder {
  @include inline-block;
}

.btn.folder {

  svg {
    display: block;
  }

  &.focus-visible {
    box-shadow: none;

    .badge {
      background-color: $c-teal--dark;
    }
  }
}

.badge.folder {
  background-color: $c-teal--tint;
  border-color: $c-teal--tint;
  margin-top: 0.25rem;
}