.container.page-content {
  $tint: rgba($gray-500, 0.5);
  padding-bottom: 8rem;

  @include media-breakpoint-up(sm) {
    padding-right: $padding-navigation;
    padding-left: $padding-navigation;
  }

  a.focus-visible, a:hover {
    @include single-box($tint);
    background: $tint;
  }
}

.wrap.page-content {
  @include auto-margin;
  max-width: $max-width-page;

  .placeholder:not(.points) {
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    box-shadow: 0 0 $margin-md $gray-300;
    max-width: 48rem;
  }
}