.desktop-content {
  &__container {
    background-color: $teal;
    font-size: 1.125rem;

    @include media-breakpoint-up(sm) {
      @include container-default(70vh);
      padding: 1.25rem;
    }
  }

  &__wrap {
    @include media-breakpoint-up(sm) {
      @include auto-margin;
      grid-auto-flow: column;
      max-width: 75rem;
      display: grid;
    }
  }

  &__windows {
    position: relative;
    min-height: 28rem;
    z-index: 2;
  }

  &__folders {
    display: none;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 6.125rem);
      align-content: flex-start;
      justify-content: end;
      position: relative;
      padding: 1rem;
      display: grid;
      z-index: 1;
    }
  }
}
