.window {
  &__container {
    @include ib;
    position: absolute;

    @include media-breakpoint-up(sm) {
      padding: 0.625rem;
    }

    &.spotify {
      left: -2rem;
      top: 2rem;

      @include media-breakpoint-up(sm) {
        left: 2rem;
        top: 2rem;
      }
    }

    &.trello {
      left: 2rem;
      top: 8rem;

      @include media-breakpoint-up(sm) {
        left: 10rem;
        top: 7rem;
      }
    }
  }

  &__wrap {
    background-color: $c-teal--tint;
    border-radius: $border-radius;
    width: 15rem;

    &.spotify {
      background-color: $c-spotify-bg;
      color: $c-spotify-text;
    }

    &.trello {
      background-color: $c-trello-bg;
      border-radius: $border-radius;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      color: $c-trello-text;
      width: 16rem;
    }
  }

  &__row {
    padding: 0.25rem 0.75rem;
  }
}
