.desktop-topbar {
  &__container {
    border-bottom: 0.25rem solid darken($teal, 15%);
    background-color: darken($teal, 10%);
    color: darken($teal, 35%);
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    text-align: center;
  }

  &__status {
    @include ib;
    min-width: 5rem;

    &.placeholder {
      @include placeholder(darken($teal, 15%));
    }

    .wifi-svg {
      fill: darken($teal, 35%);
    }
  }
}

.desktop-content {
  &__container {
    background-color: $teal;
    padding: 1.25rem;

    @include media-breakpoint-up(sm) {
      @include container-default;
    }
  }

  &__wrap {
    @include media-breakpoint-up(sm) {
      @include auto-margin;
      grid-auto-flow: column;
      max-width: 75rem;
      display: grid;
    }
  }

  &__folders {
    text-align: right;
    direction: rtl;
  }
}

.folder {
  &__container {
    @include ib;
    padding: 0.625rem;
  }

  &__wrap {
    background-color: darken($teal, 10%);
    border-radius: $border-radius;
    padding: 0.625rem;
  }
}

.window {
  &__container {
    @include ib;
    padding: 0.625rem;
    font-size: 1.125rem;
  }

  &__wrap {
    background-color: darken($teal, 10%);
    border-radius: $border-radius;
    min-width: 15rem;

    &.spotify {
      background-color: $c-spotify-bg;
      color: $c-spotify-text;
      max-width: 16rem;
    }

    &.trello {
      background-color: $c-trello-bg;
      border-radius: $border-radius;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      color: $c-trello-text;
      max-width: 18rem;
    }
  }

  &__row {
    padding: 0.25rem 0.75rem;
  }
}
