
.component.desktop-area {
  overflow: hidden;
}

.container.desktop-area {
  @include container-reset;
  background-color: $teal;
  font-size: 1.125rem;
  padding: 1.25rem;
  max-width: none;
}

.wrap.desktop-area {
  height: $mobile-min-height;
  position: relative;

  @include media-breakpoint-up(sm) {
    @include auto-margin;
    grid-auto-flow: column;
    max-width: 75rem;
    display: grid;
  }
}

.wrap.desktop-right {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.wrap.desktop-folders {
  grid-template-columns: repeat(2, 6.125rem);
  justify-content: end;
  width: 14.25rem;  
  display: grid;
  padding: 1rem;
}

.container.trello-feed.desktop {
  @include window-container;
  left: 2rem;
  top: 8rem;

  @include media-breakpoint-up(sm) {
    left: 10rem;
    top: 7rem;
  }
}