
.component.desktop-area {
  font-size: $font-size-body * 0.9;
  overflow: hidden;
}

.container.desktop-area {
  @include container-reset;
  background-color: $teal;
}

.wrap.desktop-area {
  @include container-default;
  position: relative;

  @include media-breakpoint-up(sm) {
    @include auto-margin;
    grid-auto-flow: column;
    max-width: 75rem;
    display: grid;
  }
}

.container.desktop-windows {
  @include container-reset;
}

.container.desktop-folders {
  @include container-reset;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 0;
  top: 0;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.wrap.desktop-folders {
  grid-template-columns: repeat(2, 6.125rem);
  justify-content: end;
  width: 14.25rem;  
  display: grid;
  padding: 1rem;
}