.trello {
  &__header {
    @include trello-section;
    fill: $c-trello-text;
  }
  &__title {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }
  &__list {
    background-color: $c-trello-bg;
    border-radius: $border-radius;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    color: $c-trello-text;
    width: 16rem;
  }
  &__card {
    box-shadow: 0 0.125rem #b3b8c5;
    border-radius: $border-radius;
    background-color: $white;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    display: block;

    &.placeholder {
      padding: 0.375rem 0.75rem;

      div {
        @include placeholder($gray-400);
        line-height: 1.25;
      }

      &:nth-of-type(odd) div {
        max-width: 85%;
      }
      &:nth-of-type(even) div {
        max-width: 60%;
      }
    }

    &.focus-visible {
      @include ph-box-shadow($c-trello-bg, $c-trello-text);
    }

    + .trello__card {
      margin-top: 0.625rem;
    }
  }
  &__footer {
    @include trello-section;
    color: $c-trello-text--faded;
    fill: $c-trello-text--faded;
  }
  &__add-another {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }
}
