.badge {
  border-radius: $border-radius-lg;
  background-color: $gray-600;
  transition: none;
  padding: 0.625em;
  font-size: 80%;
  color: $white;

  &.purple {
    background-color: $purple;
  }
  &.green {
    background-color: $green;
  }
  &.orange {
    background-color: $orange;
  }
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }

  &.placeholder {
    @include placeholder;
    border-radius: 0;
  }
}
