.badge {
  border-radius: $border-radius-lg;
  margin-right: $badge-margin;
  border: 1px solid $gray-600;
  font-size: $font-size-sm;
  padding: 0.375rem 0.5rem;
  transition: none;

  &:last-child {
    margin-right: 0;
  }

  &.split {
    @include split-badge;
  }

  &.code {
    @include code-badge;
  }

  .bg-dark {
    background-color: $black !important;
    border-color: $black;
  }

  &.placeholder {
    @include placeholder;
  }
}

$colors: (
  "purple" : $purple, 
  "green"  : $green, 
  "orange" : $orange, 
  "red"    : $red, 
  "blue"   : $blue
);

.badge:not(.outline, .split) {
  background-color: $gray-600;
  color: $white;

  @each $name, $color in $colors {
    &.#{$name} {
      background-color: $color;
      border-color: $color;
    }  
  }
}

.badge.outline {
  background-color: $white;
  color: $gray-600;

  @each $name, $color in $colors {
    &.#{$name} {
      border-color: $color;
      color: $color;
    }  
  }
}