.no-js,
.no-svg,
.no-csscalc,
.no-cssgradients,
.no-emoji,
.no-fontface,
.no-inlinesvg,
.no-borderradius,
.no-boxsizing,
.no-boxshadow,
.no-cssanimations {
  body {
    background-image: url("../static/fallback.png");
    background-size: 240px;

    .component-site-wrap {
      position: relative;
      overflow: hidden;
      height: 0;
    }
  }
}

html {
  height: 100%;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  background-color: $gray-200;
  min-width: $body-min-width;
  font-size: $font-size-lg;
  color: $black;
  height: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.25rem;
  font-weight: bold;

  &.placeholder {
    @include placeholder($max:50%);
  }
}

p {
  @include repeat-margin;

  &.placeholder {
    @include placeholder;

    &:nth-child(even) {
      max-width: 90%;
    }
  }
}

a {
  text-decoration: underline;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

input,
textarea {
  color: inherit;
  border: none;
  padding: 0;

  &::placeholder {
    color: inherit;
  }
}

textarea {
  resize: none;
}

label {
  margin: 0;
}

*:focus {
  outline: 0;
}

.focus-visible {
  border-radius: $border-radius;
}

.btn.focus-visible {
  @include single-box($white);
}
