.btn {
  text-decoration: none;
  font-size: inherit;
  transition: none;

  &-dark {
    @include reset-button;
  }

  &-link {
    text-decoration: underline;
    color: inherit;

    &:hover {
      color: inherit;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
