.btn {
  text-decoration: none;
  font-size: inherit;
  font-weight: 600;
  transition: none;

  &-dark {
    @include reset-button;
  }

  &-link {
    text-decoration: underline;
    color: inherit;

    &:hover {
      color: inherit;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.btn.toggle-motion {
  
  @mixin core {
    background-color: $black;
    border-color: $black;
  }

  @include core;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.75rem 1rem;
  font-weight: bold;

  &:not(:disabled):not(.disabled) {

    &:focus {
      @include core;
      box-shadow: none;        
    }

    &:hover, &:focus:active, &.focus-visible {
      @include ph-double-box;
      @include core;
      border-radius: $border-radius;
    }
  }
}
