.btn {
  text-decoration: none;
  font-size: inherit;
  font-weight: 600;
  transition: none;
}

.btn.focus-visible {
  @include ph-single-box($white);
}

.btn.toggle-motion {
  
  @mixin core {
    background-color: $black;
    border-color: $black;
  }

  @include core;
  padding: ($margin-sm * 3) 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:not(:disabled):not(.disabled) {

    &:focus {
      @include core;
      box-shadow: none;        
    }

    &:hover, &:focus:active, &.focus-visible {
      @include ph-double-box;
      @include core;
      border-radius: $border-radius;
    }
  }
}

.btn-dark {
  @include reset-button;
}

.btn-link {
  text-decoration: underline;
  color: inherit;

  &:hover {
    color: inherit;
  }

  &:focus {
    box-shadow: none;
  }
}
