.summary {
  &__container {
    @include auto-margin;
    margin-top: 2rem;
    max-width: 34rem;

    @include media-breakpoint-up(sm) {
      margin-top: 4rem;
    }
  }

  &__column {
    &.labels {
      @include media-breakpoint-down(xs) {
        margin-top: 0.375rem;
      }
    }

    &.name {
      @include media-breakpoint-down(xs) {
        line-height: $headings-line-height;
        font-size: $h5-font-size;
        margin-top: 0.75rem;
      }
    }

    &.readmore {
      @include media-breakpoint-down(xs) {
        margin-top: 0.375rem;
      }
      @include media-breakpoint-up(sm) {
        text-align: right;
      }
    }

    &.placeholder {
      // @include placeholder($gray-400);
    }
  }
}

.card.summary {
  @include repeat-margin;

  .card-body {
    padding: 0.75rem;

    @include media-breakpoint-up(sm) {
      display: grid;

      &.about {
        grid-template-columns: 6.5rem auto;
      }

      &.blog {
        grid-template-columns: auto 2rem;
      }
    }
  }
}

.summary-name {
  line-height: $headings-line-height;

  &.about {
    margin-top: 0.375rem;
  }

  @include media-breakpoint-up(sm) {
    &.blog {
      margin-top: 0.1875rem;
    }

    > div {
      display: inline;
    }
  }
}

.summary-title {
  @include media-breakpoint-up(sm) {
    margin-right: 0.5rem;
  }

  &.placeholder {
    // @include placeholder;
    display: block;
    margin: 0;
  }
}

.summary-date {
  @include style-date;
  white-space: nowrap;
}

.summary-link {
  &.focus-visible {
    @include ph-single-box;
  }
}
