$colors: (
  "purple" : $purple, 
  "green"  : $green, 
  "orange" : $orange, 
  "red"    : $red, 
  "blue"   : $blue
);

.badge:not(.outline, .split) {
  background-color: $gray-600;
  color: $white;

  @each $name, $color in $colors {
    &.#{$name} {
      background-color: $color;
      border-color: $color;
    }  
  }
}

.badge.outline {
  background-color: $white;
  color: $gray-600;

  @each $name, $color in $colors {
    &.#{$name} {
      border-color: $color;
      color: $color;
    }  
  }
}