
.container.page-content {
  padding-bottom: 8rem;

  @include media-breakpoint-up(sm) {
    padding-right: $padding-navigation;
    padding-left: $padding-navigation;
  }
}

.wrap.page-content {
  @include auto-margin;
  max-width: $max-width-page;

  @include media-breakpoint-up(sm) {
    box-shadow: 0 0 0.5rem $gray-300;
    max-width: 48rem;
  }
}