.desktop-topbar {
  &__container {
    border-bottom: 0.25rem solid $c-teal--shade;
    background-color: $c-teal--tint;
    color: $c-teal--dark;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    text-align: center;
  }

  &__status {
    @include ib;
    min-width: 5rem;

    &.placeholder {
      @include placeholder($c-teal--shade);
    }

    .wifi-svg {
      fill: $c-teal--dark;
    }
  }
}
