
.downloads.component {
  &:not(:first-of-type) {
    margin-top: $margin-lg;
  }
}

.downloads.link {
  background-color: $c-trello-bg;
  border-radius: $border-radius;
  border: 1px solid black;
  grid-auto-flow: column;
  text-decoration: none;
  display: inline-grid;
  padding: 0.4rem 0.6rem;
  column-gap: 0.6rem;

  &.focus-visible, &:hover {
    @include single-box($black, 0.2rem);
  }
  
  &.placeholder {
    text-decoration: none;
  }

  > div {
    align-content: center;
    display: inline-grid;
    line-height: 1.3;
  }
}

.title.downloads {
  &.placeholder {
    @include placeholder-animation($width: 5rem);
    margin-bottom: $margin-sm;
  }
}

.figure.downloads {
  &.placeholder {
    @include placeholder-animation($width: 3rem);
  }
}