
.component.folder {
  @include inline-block;
}

.btn.folder {
  background-color: transparent;

  svg {
    display: block;
  }

  &.focus-visible, &:hover {
    box-shadow: none;

    .badge {
      background-color: $c-teal--dark;
    }
  }
}

.badge.folder {
  background-color: $c-teal--tint;
  border-color: $c-teal--tint;
  margin-top: $margin-sm;
}