.container.hero-content {
  @include container-reset;
  @include container-default;
  place-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: grid;

  &.overlay-content {
    height: 100vh;
  }
}

.title.hero-content {
  @include auto-margin;
  font-size: $h1-font-size * 0.9;
  position: relative;
  line-height: 1.25;
  max-width: 15rem;
  z-index: 2;

  a {
    text-decoration: none;

    &.focus-visible {
      border-radius: 0;
      box-shadow: none;
    }
  }

  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size;
    max-width: 24rem;
  }
}

.subtitle.hero-content {
  font-size: $h5-font-size;
}

.svg.hero-content {
  @include zeros;
  transform-origin: center;
  transform: scale(2);
  position: absolute;
  height: 20rem;
  margin: auto;
  width: 20rem;

  svg {
    display: block;
  }
}

.card-000000 {
  @include hero-colors;
}

.card-606d70215309533eec28564a {
  @include hero-colors(hsl(230, 100%, 60%), hsl(150, 100%, 60%), hsl(170, 100%, 70%));
}

.card-6073409c74b96c31fb853842 {
  @include hero-colors(hsl(45, 100%, 50%), hsl(1, 100%, 65%), hsl(50, 100%, 70%));

  .svg.hero-content path {
    fill: rgba(hsl(45, 100%, 50%), 25%);
  }
}