
.container.trello-feed {
  margin-top: 2rem;
  max-width: none;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin-top: 4rem;
  }
}

.container.trello-feed.desktop {
  @include window-container;
  left: 2rem;
  top: 6rem;

  @include media-breakpoint-up(sm) {
    left: 8rem;
    top: 5rem;
  }
}

.wrap.trello-feed {
  @include auto-margin;
  max-width: $feed-max-width;
  
  @include media-breakpoint-up(md) {
    max-width: $feed-max-width * 2;
  }
}

.trello-feed {
  &.header {
    @include trello-section;
    fill: $c-trello-text;
  }

  &.header-title {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }

  &.footer {
    @include trello-section;
    color: $c-trello-text--faded;
    fill: $c-trello-text--faded;
  }

  &.add-another {
    &.placeholder {
      @include placeholder($gray-400, 75%);
    }
  }
}

.card.trello-wrap {
  background-color: $c-trello-bg;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  color: $c-trello-text;
  border: none;
  width: 16rem;

  .title.trello-card-desktop {
    margin-bottom: 0.25rem;
  }

  .desc.trello-card-desktop {
    margin-top: $form-text-margin-top;
  }
}