
.container.trello-feed {
  @include display-font;
  font-size: $font-size-desktop;
  margin-top: 2rem;
  max-width: none;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin-top: 4rem;
  }
}

.container.trello-feed.desktop {
  @include window-container;
  left: 2rem;
  top: 6rem;

  @include media-breakpoint-up(sm) {
    left: 8rem;
    top: 5rem;
  }
}

.wrap.trello-feed {
  @include auto-margin;
  max-width: $max-width-feed;
  
  @include media-breakpoint-up(md) {
    max-width: $max-width-feed * 2;
  }
}

.trello-feed {
  
  .title.feed-name {
    &.placeholder {
      @include placeholder-animation($width: 70%);
      line-height: 1;
    }
  }

  .title.add-another {
    &.placeholder {
      @include placeholder-animation($width: 90%);
      line-height: 1;
    }
  }
}

.header.trello-feed {
  @include trello-section;
  fill: $c-trello-text;
}

.footer.trello-feed {
  @include trello-section;
  color: $c-trello-text--faded;
  fill: $c-trello-text--faded;
}

.card.trello-wrap {
  background-color: $c-trello-bg;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  color: $c-trello-text;
  border: none;
  width: 16rem;

  .title.trello-card-desktop {
    margin-bottom: $margin-sm;
  }

  .desc.trello-card-desktop {
    margin-top: $form-text-margin-top;
  }
}