@mixin auto-margin {
  margin-right: auto;
  margin-left: auto;
}

@mixin zeros {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin placeholder($col: $gray-300, $max: false) {
  background-color: $col;
  color: $col;

  @if $max {
    max-width: $max;
  }
}

@mixin inline-block($align: middle) {
  vertical-align: $align;
  display: inline-block;
}

@mixin center($pcent: 100%) {
  text-align: center;
  &:before {
    @include inline-block;
    margin-right: -0.25em;
    height: $pcent;
    content: "";
  }
}

@mixin single-box($bg: $white, $size: 4px) {
  box-shadow: 0 0 0 $size $bg;
}

@mixin double-box($bg: $white, $col: $black) {
  box-shadow: 0 0 0 6px $bg, 0 0 0 10px $col;
}

@mixin container-default($vh: 75vh) {
  @include media-breakpoint-up(sm) {
    min-height: $mobile-min-height;
    max-height: 40rem;
    height: $vh;
  }
}

@mixin trello-section {
  grid-template-columns: auto 1.5rem;
  padding: 0.625rem;
  display: grid;
}

@mixin reset-button-core($col: $black) {
  background-color: $col;
  border-color: $col;
}

@mixin reset-button($col: $black) {
  @include reset-button-core($col);

  &:active {
    background-color: $col !important;
  }

  &:hover,
  &:focus {
    background-color: $col;
  }
}

@mixin hero-colors($a: #4261ff, $b: #ff4262, $c: #ff66b3) {
  background: linear-gradient(0deg, $a 0%, $b 100%);

  path {
    stroke: $c;
  }

  a.focus-visible {
    background-color: $c;
  }
}

@mixin input-color($col: inherit) {
  color: $col;
  &::placeholder {
    color: $col;
  }
}

@mixin repeat-margin($pos: "bottom", $val: 0.625rem) {
  @if $pos == "left" {
    margin-left: $val;
    &:last-of-type {
      margin-left: 0;
    }
  } @else if $pos == "right" {
    margin-right: $val;
    &:last-of-type {
      margin-right: 0;
    }
  } @else if $pos == "bottom" {
    margin-bottom: $val;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@mixin style-date {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  color: $gray-700;
  display: block;
}

@mixin window-container {
  @include inline-block;
  position: absolute;
  width: auto;

  @include media-breakpoint-up(sm) {
    padding: 0.625rem;
  }
}

@mixin animate-colors {
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  animation-name: colorCycle;
  animation-duration: 1s;
}
