$c-spotify-bg: #0d100a;
$c-spotify-header: #222b1b;
$c-spotify-text: #a0a19e;

$c-trello-bg: #ebecf0;
$c-trello-text: #172b4e;
$c-trello-text--faded: #5f6c84;

$font-size-base: 1.125rem;

$body-min-width: 20rem;

$mobile-max-width: 81.25%;
$mobile-min-height: 29rem;
