html {
  height: 100%;
}

body {
  @include base-font(600);
  background-color: $gray-200;
  min-width: $min-width-body;
  font-size: $font-size-body;
  color: $black;
  height: 100%;
}

p {
  @include repeat-margin;

  &.placeholder {
    @include placeholder-animation;

    &:nth-child(even) {
      max-width: 90%;
    }
  }
}

a {
  text-decoration: underline;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

input {
  @include input-reset;
}

textarea {
  @include input-reset;
  resize: none;
}

label {
  margin: 0;
}

*:focus {
  outline: 0;
}

.focus-visible {
  border-radius: $border-radius;
}