.article {
  &__title.placeholder {
    @include placeholder($gray-400, 50%);
  }
  &__content {
    img {
      max-width: 100%;
    }
    pre {
      background-color: $gray-300;
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
      padding: 1rem;
    }
    blockquote {
      border-left: 0.25rem solid $black;
      font-size: $font-size-lg;
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;
      font-style: italic;
      padding: 1rem;
    }
    figure {
      margin-bottom: 1.25rem;
      margin-top: 1.25rem;

      img {
        background-color: $gray-300;
        margin-bottom: 0.625rem;
      }
    }
    figcaption {
      text-align: center;
    }
    &.placeholder {
      @include placeholder($gray-400, 90%);

      &:nth-of-type(2n) {
        max-width: 70%;
      }

      &:nth-of-type(3n) {
        max-width: 50%;
      }

      &:nth-of-type(4n) {
        max-width: none;
      }

      &:nth-of-type(5n) {
        max-width: 60%;
      }
    }
  }
}
