.component-marquee-scroll {
  font-size: $font-size-lg;
  position: relative;
}

.marquee-scroll {
  &__container {
    border-bottom: 0.25rem solid $black;
    border-top: 0.25rem solid $black;
    background-color: $white;
    padding-bottom: 1rem;
    white-space: nowrap;
    padding-top: 1rem;
    overflow: hidden;
  }
  &__target {
    @include ib;
    padding-right: 1rem;
    user-select: none;
  }
}

.marquee-link {
  &__container {
    font-size: $h5-font-size;
    text-align: center;
    position: absolute;
    top: -3.875rem;
    color: $white;
    right: 0;
    left: 0;
  }

  &__wrap {
    @include ib;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    background-color: $black;
    font-weight: bold;
    padding: 1rem;

    &.focus-visible {
      @include ph-box-shadow;
    }
  }
}
