
.component.overlay-content {
  min-height: $min-height-mobile;
  font-size: $h2-font-size;
  place-items: center;
  text-align: center;
  display: grid;
  height: 100%;
}

.wrap.overlay-content {
  display: grid;
}
