.page-row.container {
  background-color: $white;
  padding: $padding-navigation;
  max-width: none;

  @include media-breakpoint-down(xs) {
    box-shadow: 0 0 0.5rem $gray-300;

    + .page-row.container {
      margin-top: 2rem;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: $padding-navigation 2.5rem;

    + .page-row.container {
      border-top: 1px dashed $gray-300;
    }
  }

  @include media-breakpoint-down(xs) {
    .col-sm-8,
    .col-sm-4 {
      @include repeat-margin($val: $font-size-lg);
    }
  }

  .card__badge {
    &.placeholder {
      @include placeholder($gray-300);
      max-width: 25%;
    }
  }

  .link {
    &__email {
      display: block;
    }
    &__social {
      display: block;
    }
  }
}

.page-content {
  &__container {
    padding-bottom: 8rem;

    @include media-breakpoint-up(sm) {
      padding-right: $padding-navigation;
      padding-left: $padding-navigation;
    }
  }
  &__wrap {
    @include auto-margin;
    max-width: $max-width-page;

    @include media-breakpoint-up(sm) {
      box-shadow: 0 0 0.5rem $gray-300;
      max-width: 48rem;
    }
  }
}

.page-row__title {
  margin: 0;

  @include media-breakpoint-up(sm) {
    margin: 0.625rem 0 0;
  }
}

.skills {
  margin: -0.25rem;

  .badge {
    margin: 0.25rem;
  }
}
