.container.feed-content {
  @include container-reset;
  padding-bottom: 5.8125rem;

  @include media-breakpoint-up(sm) {
    padding: 0 3.75rem 8.25rem;
  }
}

.wrap.feed-content {
  @include auto-margin;
  max-width: $content-max-width;

  @include media-breakpoint-up(sm) {
    max-width: $feed-max-width * 3;
  }

  > .placeholder {
    @include placeholder($gray-400);
  }

  .focus-visible {
    @include double-box($gray-200, $black);
  }

  h1 {
    margin-bottom: 0.625rem;
  }

  img {
    max-width: 100%;
    margin: 2rem 0;
  }
}

.summary.feed-content {
  justify-content: start;
  grid-auto-flow: column;
  margin-bottom: 1.25rem;
  display: grid;
  gap: 1rem;

  &.dates {
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
