.page-row.container {
  background-color: $white;
  padding: 1.875rem;
  max-width: none;

  @include media-breakpoint-down(xs) {
    box-shadow: 0 0 0.5rem $gray-300;

    + .page-row.container {
      margin-top: 2rem;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 1.875rem 2.5rem;

    + .page-row.container {
      border-top: 1px dashed $gray-300;
    }
  }

  .col-sm-12 {
    margin-bottom: 1.25rem;
  }

  .col-sm-4 + .col-sm-4 {
    @include media-breakpoint-down(xs) {
      margin-top: 1.25rem;
    }
  }

  .card__due {
    @include ib;
    font-size: $font-size-sm;
    color: $gray-700;
  }

  .card__badge {
    &.placeholder {
      @include placeholder($gray-300, 25%);
    }
  }

  .card__name {
    margin-top: 0.625rem;

    &.placeholder {
      @include placeholder($gray-300, 75%);
    }
  }

  .card__description {
    font-size: $font-size-sm;
    margin-top: 0.3125rem;
    color: $gray-700;

    &.placeholder {
      @include placeholder($gray-300, 50%);
    }
  }

  .link {
    &__email {
      display: block;
    }
    &__social {
      display: block;
    }
  }
}

.page-content {
  &__container {
    padding-bottom: 8rem;

    @include media-breakpoint-up(sm) {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }
  &__wrap {
    @include auto-margin;
    max-width: $page-max-width;

    @include media-breakpoint-up(sm) {
      box-shadow: 0 0 0.5rem $gray-300;
      max-width: 48rem;
    }
  }
}
