.card.desktop {
  padding: $margin-sm ($margin-sm * 3);
  box-shadow: 0 0.125rem #b3b8c5;
  border-radius: $border-radius;
  background-color: $white;
  text-decoration: none;
  display: block;
  border: none;
  margin: 0;
}

.title.desktop-card {
  line-height: $line-height-sm;
  margin: 0 $margin-md $margin-sm 0;

  &.placeholder {
    @include placeholder-animation($width: 90%);
  }
}

.link.desktop-card {  
  &.focus-visible, &:hover {
    @include ph-single-box($gray-500);

    .card {
      box-shadow: none;
    }
  }

  + .link.desktop-card {
    margin-top: 0.625rem;
  }
}