.card.trello-desktop {
  padding: $margin-sm ($margin-sm * 3);
  box-shadow: 0 0.125rem #b3b8c5;
  border-radius: $border-radius;
  background-color: $white;
  text-decoration: none;
  display: block;
  border: none;
  margin: 0;

  + .card.trello-desktop {
    margin-top: 0.625rem;
  }
}

.trello-desktop {
  .title.card-name {
    line-height: $line-height-sm;
    margin: 0 $margin-md $margin-sm 0;
  
    &.placeholder {
      @include placeholder-animation($width: 90%);
    }
  }
  
  .title.card-subtitle {
    line-height: $line-height-sm;
  
    &.placeholder {
      @include placeholder-animation($width: 70%);
    }
  }
}

.link.trello-card-desktop {
  padding-right: $margin-md;

  &.focus-visible {
    @include ph-single-box($gray-300);
    background-color: $gray-300;
  }
}