
.container.site-nav {
  @include container-reset;
  min-width: $body-min-width;
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;

  @include media-breakpoint-up(sm) {
    padding: 3.75rem;
  }

  &.is-home {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
  }
}

.wrap.site-nav {
  @include auto-margin;
  max-width: $content-max-width;
  grid-auto-flow: column;
  display: grid;

  @include media-breakpoint-up(sm) {
    max-width: 60rem;
  }
}

.wrap.nav-links {
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  grid-gap: 1.25rem;
  display: grid;
}

@mixin link-site-nav {
  font-size: $font-size-xl;
  text-decoration: none;

  &.focus-visible {
    @include ph-double-box($black, $white);
    background-color: $black;
    color: $white;
  }
}

@mixin button-site-nav {
  @include link-site-nav;
  @extend .btn;
}

.link.nav-button {
  @include button-site-nav;
  @extend .btn-dark;

  &.focus-visible {
    @include ph-single-box($white);
  }
}

.link.nav-logo {
  @include button-site-nav;
  @extend .btn-link;
  padding: 0;

  &.focus-visible {
    @include ph-single-box($black);
    background-color: $black;
    fill: $white;
  }
}

.link.site-nav {
  @include link-site-nav;
}

.btn.nav-burger {
  &.focus-visible {
    background-color: $black;
    fill: $white;
  }
}
