.card.trello-card-desktop {
  box-shadow: 0 0.125rem #b3b8c5;
  border-radius: $border-radius;
  background-color: $white;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.625rem;
  text-decoration: none;
  display: block;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  .placeholder {
    @include placeholder;
  }

  &.has-date {
    padding: 0.5rem 0.75rem;

    @include media-breakpoint-down(sm) {     
      .wrap.trello-card-desktop-badges {
        margin-top: 0.25rem;
        display: block;
      }
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 0.25rem;
      display: grid;
    }
  }
}

.title.trello-card-desktop {
  line-height: $line-height-sm;

  &.placeholder {
    max-width: 90%;
  }
}

.desc.trello-card-desktop {
  line-height: $line-height-sm;
  font-size: $font-size-sm;
  color: $gray-700;

  &.placeholder {
    max-width: 80%;
  }
}

.link.trello-card-desktop {
  padding-right: $badge-margin;
}