@import "~bootstrap/scss/bootstrap";
@import "styles/variables";
@import "styles/base";
@import "styles/badge";
@import "styles/button.scss";
@import "styles/content/feed.scss";
@import "styles/content/overlay.scss";
@import "styles/content/page.scss";
@import "styles/summary.scss";

@import "./Components/SvgIcons/SpotifySvg/SpotifySvg.scss";
@import "./Components/SvgIcons/WifiSvg/WifiSvg.scss";

@import "./Components/ResumeContent";
@import "./Components/BlogContent";
@import "./Components/NotFound";
@import "./Components/OverlayMenu";
@import "./Components/FooterArea";
@import "./Components/EmailForm";

@import "./Components/DesktopArea";
@import "./Components/DesktopArea/Trello.scss";
@import "./Components/DesktopArea/Spotify.scss";

@import "./Components/CreditLine/";

@import "./Components/MarqueeScroll";
@import "./Components/SiteNav";

@import "./Components/HeroContent";
@import "./Components/HeroContent/Feed/0.scss";
@import "./Components/HeroContent/Feed/1.scss";
@import "./Components/HeroContent/Feed/2.scss";

#root {
  height: 100%;
}

.component-site-wrap {
  &.menu-open {
    position: relative;
    overflow: hidden;
    height: 0;
  }
}
