
@import "~barbican-reset/bootstrap/helpers";
@import "~barbican-reset/helpers";
@import "~barbican-reset/bootstrap";

@import "styles/helpers";
@import "styles/base";
@import "styles/badge";
@import "styles/button";
@import "styles/container";
@import "styles/content";
@import "styles/summary";

@import "icons/Spotify";
@import "icons/Logo/Mobile";
@import "icons/Logo/Desktop";

@import "pages/Resume";
@import "pages/Home";
@import "pages/NotFound";
@import "pages/Article/HappyRoute";

@import "blocks/Navigation";
@import "blocks/Marquee";
@import "blocks/Topbar";
@import "blocks/Desktop";
@import "blocks/Credit";
@import "blocks/Email";
@import "blocks/Footer";

@import "components/Buttons/Folder";
@import "components/Spotify/Feed";
@import "components/Trello/Feed";
@import "components/Trello/Cards/Desktop";
@import "components/Trello/Cards/Resume";
@import "components/Downloads";
@import "components/Wifi";

#root {
  height: 100%;
}

.component.site-wrap {

  &.menu-open {
    position: relative;
    overflow: hidden;
    height: 0;
  }
  
  &.test-mode {
    border: 1px solid white;
    @include media-breakpoint-up(sm) { border: 1px solid green; }
    @include media-breakpoint-up(md) { border: 1px solid blue; }
    @include media-breakpoint-up(lg) { border: 1px solid red; }
  }
}

.row {
  @include row-reset;
}

.resume-link {
  margin-top: $margin-lg;
}
