
@import "~barbican-reset/bootstrap/helpers";
@import "~barbican-reset/helpers";

@import "~barbican-reset/bootstrap";
// @import "~barbican-reset";

@import "styles/helpers";
@import "styles/base";
@import "styles/badge";
@import "styles/button";
@import "styles/content/feed";
@import "styles/content/overlay";
@import "styles/content/page";
@import "styles/summary";

@import "hooks/WifiSignal";

@import "components/SvgIcons/Spotify";
@import "components/ResumeContent";
@import "components/BlogContent";
@import "components/NotFound";
@import "components/FooterArea";
@import "components/EmailForm";

@import "components/Buttons/Folder";

@import "components/DesktopArea";
@import "components/DesktopTopbar";

@import "components/SpotifyFeed";

@import "components/Trello/Feed";
@import "components/Trello/Cards/Desktop";
@import "components/Trello/Cards/Resume";
@import "components/Trello/Pages";

@import "components/CreditLine";

@import "components/MarqueeScroll";
@import "components/Navigation";

@import "components/HeroContent";

@import "components/LoadingAnimation";
@import "components/DownloadDetails";

@import "components/ArticleContent/HappyRoute";

#root {
  height: 100%;
}

.component.site-wrap {
  &.menu-open {
    position: relative;
    overflow: hidden;
    height: 0;
  }
}
