.credit.layout {
  padding-bottom: $font-size-lg;
  background-color: $teal;
  color: $c-teal--dark;
  text-align: center;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.credit.link {
  &.focus-visible, &:hover {
    .credit.badge {
      border-radius: $border-radius-sm;
      background-color: $c-teal--dark;
      color: $white;
    }
  }
}

.credit.badge {
  background-color: $c-teal--tint;
  border-color: $c-teal--tint;
  color: $white;

  span {
    text-decoration: underline;
  }
}