
.component.navigation-block {
  padding-bottom: $padding-navigation;
  padding-top: $padding-navigation;
  min-width: $min-width-body;

  @include media-breakpoint-up(sm) {
    padding: 3.75rem;
  }

  &.is-home {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
  }
}

.container.navigation-block {
  @include container-reset;
  @include auto-margin;
  justify-content: space-between;
  max-width: $max-width-content;
  grid-auto-flow: column;
  align-items: center;
  display: grid;

  @include media-breakpoint-up(sm) {
    max-width: $max-width-desktop;
  }
}

.link.navigation-block {
  $border: 6px solid;
  @include nav-font-size;
  border-bottom: $border transparent;
  border-top: $border transparent;
  text-decoration: none;
  border-radius: 0;

  &:hover, &.focus-visible {
    border-bottom: $border $black;
  }
}

.button.navigation-block {
  @include button-site-nav;
  @extend .btn-dark;
}

.wrap.navigation-block {
  grid-gap: $font-size-lg;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  display: grid;
}