
.container.site-nav {
  @include container-reset;
  min-width: $min-width-body;
  padding-bottom: $padding-navigation;
  padding-top: $padding-navigation;

  @include media-breakpoint-up(sm) {
    padding: 3.75rem;
  }

  &.is-home {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
  }
}

.wrap.site-nav {
  @include auto-margin;
  justify-content: space-between;
  max-width: $max-width-content;
  grid-auto-flow: column;
  align-items: center;
  display: grid;

  @include media-breakpoint-up(sm) {
    max-width: $max-width-desktop;
  }
}

.wrap.nav-links {
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  grid-gap: $font-size-lg;
  display: grid;
}

.link.nav-button {
  @include button-site-nav;
  @extend .btn-dark;

  &.focus-visible {
    @include ph-single-box($white);
  }
}

.link.nav-logo {
  @include button-site-nav;
  @extend .btn-link;
  padding: 0;

  &.focus-visible {
    @include ph-single-box($black);
    background-color: $black;
    fill: $white;
  }
}

.link.site-nav {
  @include link-site-nav;
}

.btn.nav-burger {
  padding: 0;
  
  &.focus-visible {
    background-color: $black;
    fill: $white;
  }
}

.btn.pause-play {
  padding: 0;
}