.container.trello-feed {
  margin-top: 2rem;
  max-width: none;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin-top: 4rem;
  }
}

.wrap.trello-feed {
  @include auto-margin;
  max-width: $feed-max-width;
  
  @include media-breakpoint-up(md) {
    max-width: $feed-max-width * 2;
  }
}