.no-js,
.no-svg,
.no-csscalc,
.no-cssgradients,
.no-emoji,
.no-fontface,
.no-inlinesvg,
.no-borderradius,
.no-boxsizing,
.no-boxshadow,
.no-cssanimations {
  body {
    background-image: url("../../static/fallback.png");
    background-size: 240px;

    .component.site-wrap {
      position: relative;
      overflow: hidden;
      height: 0;
    }
  }
}